.lmj_home>section {
  flex: 1;
  overflow: auto;
  font-size: 0.24rem;
}

.lmj_home>section::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.lmj_banner {
  display: flex !important;
  flex-wrap: wrap;
  white-space: nowrap;

  dl {
    width: 19.5%;
    margin: 0 2.75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.2rem;
  }

  dd {
    padding: 0;
    margin: 0;
    font-size: 0.22rem !important;
  }
}

.slick-dots {
  bottom: 0rem !important;
  margin-bottom: 0;
}

.slick-dots li {
  width: 0.15rem !important;
  height: 0.15rem !important;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;

  button {
    width: 0.15rem !important;
    height: 0.15rem !important;
  }
}

.slick-dots .slick-active button {
  background: #007AFF !important;
}

.lmj_separate {
  height: 0.18rem;
  margin: 0.3rem 0 0.1rem;
  width: 100%;
  background: #F2F2F2;
}

.lmj_address_shop {
  padding: 0.1rem;
  color: #ccc;
  text-indent: 0.1rem;
  margin-bottom: 0.2rem;
}

dl,
dt,
dd,
p {
  margin-bottom: 0 !important;
}

.ant-rate {
  height: 20px;
  font-size: 0px;

  .ant-rate-star {
    margin: 0;
    font-size: 3.6vw;
  }
}

