.lmj_home {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.24rem;
}

.lmj_home>section {
  flex: 1;
  overflow: auto;
}

.lmj_home>section::-webkit-scrollbar {
  display: none;
}
img{
  display: block;width: 100%;height: auto;
}
.lmj_banner{
  display: flex!important;
  flex-wrap: wrap;
  white-space: nowrap;
  dl{
    width: 25%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.2rem;
  }
}