a,a:hover {
    color: black;
}

.active {
    color: #099AFF;
}

.FooterN {
    width: 100%;
    height: 1rem;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.2rem;

    dl {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        dt{
            font-size: 0.35rem;
        }
    }
}